@font-face {
    font-family: Montserrat;
    src: url(/public/Montserrat-VariableFont_wght.ttf);
}

*{margin: 0;
padding: 0;
box-sizing: border-box;}

.layout-grid {
    max-width: 1920px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms-align-logo {display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 60px;
}

.forms-align {display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 659px;
    height: 1266px;
    }


      /* Parte dedicada a primeira parte de inputs */

    .first-block-inputs {width: 660px;
    height: 412px;
font-family: Montserrat;
font-weight: 400;}

    .first-block-inputs .first-section{
        
        }

    .first-block-inputs .first-section > input {width: 660px;
        height: 56px;
    margin-top: 10px;
margin-bottom: 10px;}

        
    .first-block-inputs   .second-section{width: 680px;
    height: 100px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

    .first-block-inputs  .second-section > input {width: 295px;
            height: 56px;
            margin-top: 10px;
            }
        
            .first-block-inputs  .second-section input:last-of-type {width: 345px;}

            .first-block-inputs  .second-section hr{ position: absolute;
                bottom: 300px; 
                width: 660px;}


  /* Parte dedicada a segunda parte de inputs */

    .second-block-inputs {width: 660px;
                height: 420px;
            margin-top: 10px;
            font-family: Montserrat;
font-weight: 400;
        }

                .second-block-inputs   .second-section{width: 660px;
                    height: 202px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
            gap: 10px;
      }

                .second-block-inputs   .third-section{width: 660px;
                    height: 202px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 10px;
                gap: 10px;
          }

                .second-block-inputs .first-section > input {width: 659px;
                    height: 56px;
                margin-top: 10px;}

                    .second-block-inputs .second-section > input {width: 295px;
                        height: 56px;
                    }

                        .second-block-inputs .third-section > input {width: 345px;
                            height: 56px;
                        }

                        

 /* Parte dedicada a terceira parte de inputs */

    .third-block-inputs{width: 660px;
    height: 220px;
    font-family: Montserrat;
font-weight: 400;
}

    .third-block-inputs .first-section > input {width: 659px;
        height: 56px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.third-block-inputs .first-section > hr {position: absolute;
    width: 660px;
bottom: -125px;}

    /* Parte dedicada ao botao */

    .button {width: 660px;
    height: 56px;
border: none;
border-radius: 8px;
background-color: #3BB29D;
color: white;
font-family: Montserrat;
font-weight: 700;}